{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<form action="{{url_for('insert_question')}}" method="POST">
    <div class="container mt-4">

        <h1>Welcome to Epoint AI Chat, I am AI Elien! </h1>
<!--        <p>Please ask your question in below, I will try my best to answer your question.</p>-->

<!--        <div class="mb-4">-->
<!--            <label for="question-text" class="col-form-label">Please ask your question in below:</label>-->
<!--            <textarea class="form-control" name="question" id="question-text" required="1">{{openaiquestion}}</textarea>-->
<!--            <p></p>-->
<!--            <button type="submit" class="btn btn-primary">Hi Dear, Elien here click me here to get your answer ('',)</button>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="answer-text" class="col-form-label">Answer:</label>-->
<!--            <textarea class="form-control" name="Epoint AI answer in below" id="answer-text">{{openaianswer}}</textarea>-->
<!--        </div>-->

        <table class="table table-success table-striped table-hover" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for epoint_data in epoint_datas %}
            <tr>
                <td>{{epoint_data.id}}</td>
                <td>{{epoint_data.question}}</td>
                <td>{{epoint_data.answer}}</td>
                <td>{{epoint_data.department}}</td>
                <td>
                    <a href="" class="btn btn-success"> Update</a>
                    <a href="{{url_for('delete_epointdata_indexadmin', id=epoint_data.id)}}" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</form>


