<nav class="navbar navbar-expend-lg navbar-light bg-light">

    <div class="container">
        <a class="navbar-brand" href="">
            <img scr="{{url_for('static', filename='eslogo.jpg')}}" width="100" height="50"
                 class="d-inline-block alight-text-top">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insert_question">
                    Add Q&A in System
                </button>
<!--                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update">-->
                 <a href="{{url_for('update_context_data')}}" class="btn btn-danger"> Update Context Data</a>
<!--                </button>-->
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="insert_question" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add your new question & answer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('insert_question')}}" method="POST">
                    <input type="hidden" name="isAdmin" value="{{indicator}}">
                    <div class="form-floating">
                        <select id="department-text" class="form-select" name="txtDepartment" required="1" >
                            <option selected></option>
                            <option>Admin</option>
                            <option>After Sales</option>
                            <option>CST</option>
                            <option>PDT</option>
                            <option>Sales</option>
                            <option>Software</option>
                        </select>
                        <label for="department-text" class="col-form-label">Pick a department:</label>
                    </div>

                    <div class="mb-3">
                        <label for="question-text" class="col-form-label">Question:</label>
                        <textarea class="form-control" name="question" id="question-text" required="1"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="answer-text" class="col-form-label">Answer:</label>
                        <textarea class="form-control" name="answer" id="answer-text"  required="1"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>